<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Mini Message Board</h1>
    <a href="/new">New message</a>
    <div id="container">
        <% messages.forEach((message) => { %>
            <%- include('message', {message: message, id: messages.indexOf(message)}); %>
        <% }); %>
    </div>
</body>
</html>